container{
	display: block;
	width: 94%;
	height: 85%;
	margin-top: 5%;
	background: #eaeaea;

	box-shadow: .2rem .2rem .1rem rgba(0,0,0,.2);
}
form{
	display: none;
}
	container nav{
		position: relative;
		width : 100%;
		height:  4.5rem;

		background: #1b2433;
	}
			container nav ul{
				display:inline-block;
				width: 100%;
				height: 100%;
				margin:0;
				padding:0;
				background:#324644;
				text-align: left;
			}
				container nav ul a{
					text-decoration: none;
				}
				container nav ul li{
					display:inline-block;
					width: 150px;
					list-style: none;
					text-align: center;
				}
				container nav .navlogo{
					background:#273734;
					width: 8rem;
					height:  4.5rem;
					line-height:  4.5rem;
					margin-right: 1rem;
				}
					container nav ul .navlogo img{
						display:inline-block;
						width: auto;
						height: 50%;
						vertical-align: middle;

					}
					container nav ul .homelink{
						height: 100%;
						letter-spacing: 2px;
						color: white;
					}

						container nav ul .color_label{
							position: absolute;
							display: inline-block;
							width: 100%;
							height: .15rem;

							background: none;
							bottom:0;

							transition: .2s;
							-webkit-transition: .2s;
							-moz-transition: .2s;
							-ms-transition: .2s;
							-o-transition: .2s;
						}
						container nav ul .now{
							background: yellow;
						}
						container nav ul .linkimg{
							display:inline-block;
							width: 30%;
						}
							container nav ul .linkimg img{
								height: 1em;
								margin-right: 5px;
								vertical-align: middle;
							}
						container nav ul .linktxt{
							display: inline-block;
							width: 68%;
							text-align:left;

							vertical-align: middle;
						}
					container nav ul .navs{
						position: relative;
						font-size: .8em;
						margin: 0;
						height: 3em;
						color: white;
						vertical-align: bottom;
						line-height: 3em;
						transition: .5s;
						-webkit-transition: .5s;
						-moz-transition: .5s;
						-ms-transition: .5s;
						-o-transition: .5s;
					}
					container nav ul .navs:hover .color_label{
						background: yellow;
					}


	container #posts{
		position: relative;
		width : 100%;
		height: 90%;
		background: #b7d7d4;

		text-align: center;
	}

		container #posts .menus{
			display: block;
			margin:0;
			padding: 0;
			width: 100%;
			height: 2.5rem;
			background: white;

			text-align: right;

			border-bottom: solid 2px #d6d7d8;
			margin-bottom: -2px;
		}
			container #posts .menus li{
				display: inline-block;
				margin-right: 30px;
			vertical-align: middle;

				max-width: 1rem;
				height: auto;
			}
			container #posts .menus li img:hover{
				cursor:pointer;
				animation: bounce 1s ;
				-webkit-animation:bounce 1s;
				-moz-animation:bounce 1s;
				-ms-animation:bounce 1s;
				-o-animation:bounce 1s;
			}

		container .scroll{
			width: 100%;
			height: 100%;
			overflow-y: scroll;
		}
			container .scroll section{
				width: 96%;
				margin-top: 2%;
				margin-bottom: 2%;
				height: auto;
				border: solid .15rem #d6d7d8;
				display: inline-block;
				background: white;
			}
				container .scroll .title{
					display: inline-block;
					font-size: 1rem;
					width: 90%;
					margin-top: 2%;
					margin-bottom: 1rem;
					text-align: left;
				}
					container .scroll .title img{
						height: .8rem;
					}
					container .scroll .title .route{
						margin-left: 5%;
						font-size: .8rem;
						color: rgba(164,191,216,1);
					}
				container .scroll .albums{
					width: 90%;
					height: auto;
					display: inline-block;
					text-align: left;
					margin-bottom: 1rem;
				}
					container .scroll .albums .memo{
						display: inline-block;

						width: 100%;

						margin-top: 2rem;
						margin-bottom: 2rem;
						text-align: center;
						color: rgb(50,50,50);
					}
						container .scroll .albums .memo .text{
							width: 85%;
							height:auto;
							display: inline-block;
						}
				container .scroll .albums .list{
					display:inline-block;
					margin: .5rem;
					margin-bottom: 1rem;
					padding: 0;
					max-width: 22%;
					width:	22%;
					text-align: center;
				}
				container .scroll .albums .files:hover{
					cursor: pointer;
				}
				container .scroll .albums .to_parents:hover{
					cursor: pointer;
				}
				/*
				container .scroll .albums .list:hover .file_imgs{
					box-shadow: 0px 0px 1em rgba(190,210,220,1);
				}
				*/
					container .scroll .albums .list .file_imgs{
						margin: 0;
						width: 100%;
					}
					.file:hover .file_imgs{
						box-shadow: 1px 1px .2em rgba(0,0,0,1);
					}
					container .scroll .albums .list .caption{
						display: inline-block;
						width:100%;

						color: rgb(50,50,50);
						font-weight: bold;
						margin: 0;
						padding: 0;
						font-size: .8em;
					}
					container .scroll .albums .list #code, container .scroll .albums .list #type{
						display: none;
					}

					container .scroll .albums .add_file{
						vertical-align: top;
					}
					container .scroll .albums .list .add_img{
						display: inline-block;
						width: 50%;
						height: 50%;
						vertical-align: middle;
					}
					container .scroll .albums .list .add_img:hover{
						cursor: pointer;
					}
				container .scroll .albums .to_parents{
					vertical-align: top;
				}
					container .scroll .albums .list .parents_img{
						display: inline-block;
						width: 50%;
						height: 50%;	
						vertical-align: middle;

					}
			footer{
				position: absolute;
				bottom: 0;
				
				width: 100%;
				height: 1rem;
				background: #324644;
				text-align: right;
			}
				footer img{
					height: 100%;
					margin-right: .5rem;
				}


#modal{
	position: fixed;
	top: 0;
	left: 0;

	background: #000000;

	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -o-flex;

  -webkit-align-items: center;
 	  -ms-align-items: center;
 	   -o-align-items: center;
 	 -moz-align-items: center;
          align-items: center;

  -webkit-justify-content: center;
	  -ms-justify-content: center;
	   -o-justify-content: center;
	 -moz-justify-content: center;
          justify-content: center;

	z-index: -1;

	box-shadow: 0px 0px 10px black;

	animation: show_modal 1s ease;
	-webkit-animation: show_modal 1s ease;
	-moz-animation: show_modal 1s ease;
	-ms-animation: show_modal 1s ease;
	-o-animation: show_modal 1s ease;
}

#modal img {
	display:inline-block;
	width: auto;
	height: auto;

}
.modal_form{
	display: inline-block;
	text-align: left;
	width: auto;
	height: auto;
}
.modal_caption{
	display: inline-block;
	width: 8rem;
	text-align: center;
}
.modal_memo{
	display: none;
}
#modal_folder:checked ~ .modal_memo{
	display: inline-block;
	margin-bottom: 1rem;
}

.modal_img{
	display: none;
}
#modal_file:checked ~ .modal_img{
	display: inline-block;
	margin-bottom : 1rem;
}

.modal_submit_box{
	display: inline-block;
	height: 2rem;
	width: 100%;
	text-align: right;
}
.modal_submit{
	width: 20%;
	height: 100%;
	border:none;

	background: url('../images/submit.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

body{
	background: black;
}

wrap{
	animation: none;
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	-o-animation: none;
}