<!doctype html>
<html>
<head>
<meta charset = "utf-8"/>
	<title>Title</title>
	<link rel = "stylesheet" type = "text/css" href = "../css/font.css" />
	<link rel = "stylesheet" type = "text/css" href = "../css/default.css"/>
<!--mediaquery start-->
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<!--mediaquery end-->
<!--[if lt IE 9]>
< script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
< ![endif]-->
<!--[if lte IE 7]>
< script src="js/IE8.js"></script>
<![endif]-->
<!-- script start -->
<script>
window.onload = function(){
	headerlogo_align();
}
</script>
<script type = "text/javascript"src = "../js/layout.js"></script>
<!-- script end -->
</head>
<body>
	<header id ="head">
		<img src = "../images/headlogo.png" alt = "메인 로고 입니다." id = "headerlogo"/>
	<header>
	<wrap>
	</wrap>
</body>
</html>