<!doctype html>
<html>
<head>
	<meta charset = "utf-8"/>
	<title>title - home</title>
	<link rel = "stylesheet" type = "text/css" href = "/static/css/default.css"/>
	<link rel = "stylesheet" type = "text/css" href = "/static/css/font.css"/>
	<link rel = "stylesheet" type = "text/css" href = "/static/css/home.css"/>
	<link rel = "stylesheet" type = "text/css" href = "/static/css/home_animation.css"/>

<!--mediaquery start-->
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<!--mediaquery end-->
<!--[if lt IE 9]>
< script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
< ![endif]-->
<!--[if lte IE 7]>
< script src="js/IE8.js"></script>
<![endif]-->
<!-- script start -->
<script type = "text/javascript" src = "/static/js/home/home_routine.js"></script>
<script type = "text/javascript" src = "/static/js/layout.js"></script>
<script type = "text/javascript" src = "/static/js/home/home_layout.js"></script>
<script type = "text/javascript" src = "/static/js/home/home_ajax.js"></script>
<!-- script end -->
</head>
<body>
<header id = "head">
	<a href = "/"><img src = "/static/images/headlogo.png" alt = "메인로고 입니다." id = "headerlogo"/></a>
</header>
<wrap>
	<container id = "main">
		<nav>
			<ul>
				<li class = "navlogo">
					<img src = "/static/images/sidebar_top.jpg" alt = "로고"/>
				</li>
				<a href = "/">
					<li class = "homelink navs">
						<span class = "linkimg"><img src = "/static/images/home.png" alt = ""/></span><span class = "linktxt">Home</span>
					</li>
				</a>
				<li class = "mainmenu">
					<span>Main Menu</span>
				</li>
				<a href = "/bucketlist/">
					<li class = "bucket_list mainmenus navs">
						<span class = "color_label"></span><span class = "linkimg"><img src = "/static/images/bucket_list.png" alt =""/></span><span class = "linktxt">버킷리스트</span>
					</li>
				</a>
				<a href = "/album/">
					<li class = "album mainmenus navs">
						<span class = "color_label"></span><span class = "linkimg"><img src = "/static/images/album.png" alt =""/></span><span class = "linktxt">앨범모아보기</span>
					</li>
				</a>
			</ul>
		</nav>
		<div id = "posts">
			<ul class = "menus">
				<li class = "link"><a href = "/setting/"><img src = "/static/images/설정.png" alt = "설정"/></a></li>
				<li class = "link"><img id = "logout" src = "/static/images/로그아웃.png" alt = "로그아웃" onclick = "logout_method()"/></li>
			</ul>
			<div class = "scroll">
				<section class = "family">
					<span class = "title"><img class = "ring" src = "/static/images/ring.png" /> 가족소개</span>
					<div class = "profiles">
					</div>
				</section>
				<section class = "preview">
					<span class = "title"><img class = "ring" src = "/static/images/ring.png" /> 앨범 미리보기</span>
					<div class = "previews">
					</div>
				</section>
			</div>
		</div>
	</container>
</wrap>
<div id = "modal">
	<!--<img src = "/static/images/abc.jpg" alt = "이미지없다" />-->
</div>
</body>
</html>